body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #0a121f;
  color:#f2f4f7;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filters input, .filters select {
  padding: 5px;
}

.game {
  background: #1d2b45;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 10px 0;
  text-align:center;
}

.game img {
/*  display: none;*/
  width: 100%;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.game-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.game-meta {
  margin-top: 5px;
  font-size: 14px;
  color: #d2dae9;
  background-color: #142134;
}

#gamesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}